@model PolyTeam.Hackaton.Models.SocialRequestModel

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" />
<link href="@Url.Content("~/Content/style-stat.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/style-map.css")" rel="stylesheet" type="text/css" />

<script src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>
<script src="@Url.Content("~/Scripts/autocompletion.js")"></script>

<div id="map"></div>
<script src="/Scripts/map.js"></script>    

@using (Html.BeginForm("Submit", "Request"))
{
<div id="panel">
        <fieldset>
            <legend>Інформація користувача</legend>
            
            <div class="field editor-label">
                @Html.LabelFor(m => m.Street)
                @Html.TextBoxFor(m => m.Street)
            </div>
            <div id="drop_list"></div>
            <div class="field editor-label">
                @Html.LabelFor(m => m.House)
                @Html.TextBoxFor(m => m.House)
            </div>
            <div class="field editor-label">
                @Html.LabelFor(m => m.Flat)
                @Html.TextBoxFor(m => m.Flat)
            </div>
            <div class="editor-field field">
                @Html.DropDownListFor(model => model.ProblemId, Model.ProblemList, "Оберіть")
            </div>
            <div class='SubmitButton'>
                <input type="submit" value="Додати" />
            </div>
        </fieldset>
    </div>
}