@model PolyTeam.Hackaton.Models.LogOnModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
    <head>
        <title>Головна</title>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" /> 
        <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" /> 
        <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" /> 
	    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" /> 
        <link href="@Url.Content("~/Content/style-index.css")" rel="stylesheet" type="text/css" /> 
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/leaflet.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="map"></div> 
        @using (Html.BeginForm("LogOn","Account")) {
            <div class="Form">
                <fieldset>
                    <legend>Інформація користувача</legend>

                    <div class="editor-label field" >
                        @Html.LabelFor(m => m.UserName)
                    </div>
                    <div class="editor-label field" >
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>

                    <div class="editor-label field" >
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div class="editor-label field" >
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <div class="editor-label field" >
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    <div class="SubmitButton button_own" >
                        <button type="submit" value="Увійти">Увійти</button>
                    </div>
                    <div class="RegisterButton button_own" >
                        <button type="submit">@Html.ActionLink("Реєстрація","Register","Account")</button>
                    </div>
                </fieldset>
            </div>
        }
        <div id="info">
            @Html.ActionLink("Request","Index","Request")
            <div class="triangle"></div>
            <h3>Опис</h3>
            <div class="info_itself">
                <p>Цей сервіс був розроблений для полегшання прийому та обробки проблем жителів Донецька з питань ЖКХ. Кожен, хто має яку-небудь проблему, зареєструвавшись повідомляє про неї на даному сайті. Для відправки запита на ремонт необхідно заповнити просту форму, у котрій вказується адреса проблеми, її вид, та короткий опис.</p>
                <p>Для вирішення цих проблем будемо звертатися до депутатів міської Ради. Для зручності отримання запросів на ремонт існує розділ для депутатів, які й вирішують ці проблеми. Вони фіксують, яку проблему будуть обробляти, та по закінченню ремонтних робіт заносять їх собі у актив. Таким чином ми отримуємо змагання депутатів за добробут громадян.</p>
                <p>Щоб повністю оцінити працю додано розділ статистики, яка повідомляє про успіх ремонтних робіт,їх види, процент упішності, які депутати краще реагують на проблеми громадян. Для зручності оцінки даних вони виводяться у графічному вигляді.</p>   
            </div>       
        </div>
        <script>
            $(function () {
                var southWest = new L.LatLng(48.136, 37.483),
                    northEast = new L.LatLng(47.837, 38.041),
                    donetskBounds = new L.LatLngBounds(southWest, northEast);

                var map = L.map('map', {
                    center: new L.LatLng(47.99874, 37.80466),
                    zoom: 18
                });

                L.tileLayer('http://{s}.tile.cloudmade.com/e37d73e201f94dd78191e2470055aec0/997/256/{z}/{x}/{y}.png', {
                    attribution: 'Помощь жителям'
                }).addTo(map);
            
                map.setMaxBounds(donetskBounds);
                $(document).on('click', '.triangle', function (e) {
                    var such = $('.triangle');
                    such.toggleClass("up");
                    if (such.hasClass('up')) {
                        $('.info_itself').fadeOut();
                    }
                    else {
                        $('.info_itself').fadeIn();
                    }
                });
            });
        </script>
    </body>
</html>