<link href="@Url.Content("~/Content/style-stat.css")" rel="stylesheet" type="text/css" /> 
<script src="@Url.Content("~/Scripts/RGraph.common.core.js")"></script>
<script src="@Url.Content("~/Scripts/RGraph.common.dynamic.js")"></script>
<script src="@Url.Content("~/Scripts/RGraph.common.effects.js")"></script>
<script src="@Url.Content("~/Scripts/RGraph.line.js")"></script>
<script src="@Url.Content("~/Scripts/RGraph.pie.js")"></script>

<div id="taken_time_graph">
    <canvas id="cvs" width="600" height="250">[No canvas support]</canvas>
</div>
<div id="myPie">
	<canvas id="cvs2" width="600" height="250">[No canvas support]</canvas>
</div>
<script>
    var line = new RGraph.Line('cvs', [84, -5, -30, -26, -45, 12, 84, 73, 60, 11, 56, 32]);
    line.Set('chart.labels', ['Січ', 'Лют', 'Бер', 'Кві', 'Тра', 'Чер', 'Лип', 'Сер', 'Вер', 'Жов', 'Лис', 'Гру']);
    line.Set('chart.colors', ['black']);
    line.Set('chart.shadow', true);
    line.Set('chart.shadow.offsetx', 1);
    line.Set('chart.shadow.offsety', 1);
    line.Set('chart.linewidth', 2);
    line.Set('chart.yaxispos', 'right');
    line.Set('chart.xaxispos', 'center');
    line.Set('chart.hmargin', 5);
    RGraph.Effects.Line.jQuery.Trace(line);
    var line = new RGraph.Line('cvs', [84, 73, 60, 11, 56, 32,84, -5, -30, -26, -45, 12]);
    line.Set('chart.colors', ['red']);
    line.Set('chart.shadow', true);
    line.Set('chart.shadow.offsetx', 1);
    line.Set('chart.shadow.offsety', 1);
    line.Set('chart.linewidth', 2);
    line.Set('chart.yaxispos', 'right');
    line.Set('chart.xaxispos', 'center');
    line.Set('chart.hmargin', 5);
    RGraph.Effects.Line.jQuery.Trace(line);
</script>

<script>
    var data4 = [20, 25, 10.3, 11, 34.7];
    var pie4 = new RGraph.Pie('cvs2', data4);
    pie4.Set('chart.labels', ['Партія Регіонів', 'Батьківщина', 'УДАР', 'Україна, Вперед', "Блок Олега Ляшка"]);
    pie4.Set('chart.tooltips.event', 'onmousemove');
    pie4.Set('chart.colors', ['#EC0033', '#A0D300', '#FFCD00', '#00B869', '#999999', '#FF7300', '#004CB0']);
    pie4.Set('chart.strokestyle', 'white');
    pie4.Set('chart.linewidth', 3);
    pie4.Set('chart.shadow', true);
    pie4.Set('chart.shadow.offsetx', 2);
    pie4.Set('chart.shadow.offsety', 2);
    pie4.Set('chart.shadow.blur', 3);
    pie4.Set('chart.exploded', 7);

    for (var i = 0; i < data4.length; ++i) {
        pie4.Get('chart.labels')[i] = pie4.Get('chart.labels')[i] + ', ' + data4[i] + '%';
    }

    pie4.Draw();
</script>